@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
/*! Shared Styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.primary-color {
  color: #ff42a5;
}
.bg-primary {
  background-color: #ff42a5;
}
.bg-secondary {
    background: #4EC5F7;
}
.btn-container {
    margin-left: 10px;
}
.btn-primary {
  border-radius: 48px;
  padding: 11px 20px;
  color: white;
  border: none;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

/*! Navbar Section Styles  */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 10px;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo-container img {
  width: 80px;
  height: 40px;
  object-fit: contain;
}
.logo-container p {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}
.span {
  font-size: 45px;
  font-weight: 700;
}
.nav-items-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-items-container a {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.nav-items-container li {
  list-style: none;
}
.follow-us {
  width: 262px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  text-align: center;
  padding-top: 10px;
}
.svg {
  width: 33.916px;
  height: 24px;
  padding-top: 10px;
}

/*! Banner Section Styles  */
.banner-container {
  display: flex;
  align-items: center;
  gap: 100px;
  background: #fff;
}
.banner-des-container {
  height: 600px;
  width: 900px;
  background-image: url("../images/Group 14.png");
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
  padding: 148px 200px 148px 150px;
  background-position: center;
}
.banner-title {
  color: #0b0223;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 60px;
}
.goat {
  font-size: 85px;
  font-weight: 800;
  text-transform: uppercase;
  padding-left: 60px;

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-des-container div {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 60px;
}
.banner-img-container {
  height: 100%;
  width: 100%;
}
.banner-img {
  height: 650px;
  padding-top: 25px;
  width: 590px;
}
/*! Funny Videos Section  */
.funny-videos {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}
.funny-videos-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.card {
  width: 342px;
  height: 400px;
  border-radius: 16px;
}

/* Responsive Styles  */
/* Mobile Screen  */
@media screen and (max-width: 576px) {
  nav {
    background: #fff;
    box-shadow: none;
    margin-left: 100px;
  }
  .nav-container {
    flex-direction: column;
    gap: 25px;
  }
  .nav-items-container {
    flex-direction: column;
  }
  .banner-container {
    flex-direction: column;
    margin-top: 35px;
    justify-content: center;
  }
  .banner-des-container {
    width: 600px;
    margin-left: 80px;
  }
  .banner-title {
    font-size: 30px;
  }
  .goat {
    font-size: 50px;
    font-weight: 800;
  }
  .banner-img-container {
    width: 100%;
    text-align: center;
  }
}

/* Tablet Screen  */
@media screen and (min-width: 577px) and (max-width: 992px) {
  nav {
    background: #fff;
    box-shadow: none;
  }
  .nav-container {
    flex-direction: column;
    gap: 25px;
  }
  .nav-items-container {
    flex-direction: column;
  }
  .banner-container {
    flex-direction: column;
    margin-top: 35px;
    justify-content: center;
    gap: 5px;
  }
  .banner-des-container {
    width: 100%;
    margin-left: 80px;
  }
  .banner-title {
    font-size: 30px;
  }
  .goat {
    font-size: 70px;
    font-weight: 800;
  }
  .banner-img-container {
    width: 100%;
    text-align: center;
  }
}
